################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
DevSpadeGame/obj/Debug/DevSpadeGame.csproj.FileListAbsolute.txt
*.cache
*.cache
*.txt
